   <div class="settings_content">
    <div class="row">
        <div class="col-md-2 tabs-left">
            <ul class="nav nav-tabs tabs-left">
			  <li><a href="<%= account_path%>">Аккаунт</a></li>
			  <li class="active"><a href="<%= password_path%>">Пароль</a></li>
			</ul>
        </div>
        <div class="col-md-9">
            <div class="row">
                <p><%= render 'flash' %></p>
                <div class="col-md-9">
                    <h1>Пароль</h1>
                    <h5>Довжина не менше 8 символів</h5>
                    <%= form_for @user, :url => update_password_path do |f| %>
                        <div class="field">
                            <div class="input-group">
                                <span class="input-group-addon"><%= f.label "Новий пароль" %></span>
                                <%= f.password_field :password, class: "form-control" %>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><%= f.label "Підтвердження" %></span>
                                <%= f.password_field :password_confirmation, class: "form-control" %>
                            </div>
                        </div>
                        <div class="actions">
                            <%= f.submit "Змінити", class: "btn btn-primary" %>
                        </div>
                    <% end %>             
                </div>
            </div>
        </div>
    </div>
</div>